<div class="container bs-docs-container">
    <div id="noti" class="navbar-fixed-top alert-warning alert-dismissible fade" role="alert" style="margin-top: 70px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>Success!</strong> 게시물이 좋아요 되었어요.
    </div>
    <div id="items" class="row">
    </div>
</div>
<div class="pager-container"></div>