<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img data-src="holder.js/300x200" src="http://img.anyjava.net/upload/{{titleImageUrl}}" style="width: 300px;, height: 200px;">
        <div class="caption">
            <h3 data-role="bind" data-name="subject"></h3>
            <p>추가사진 : {{imageSize}}<br/>
                <span data-role="bind" data-name="hit"></span></p>
            <p><a href="{{url}}" class="btn btn-primary">GO</a> <a href="#" class="btn">Action</a></p>
        </div>
    </div>
</div>
