<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img data-ref="img" data-src="holder.js/300x200" src="{{titleImageUrl}}" style="width: 300px;, height: 200px;">
        {{# if hasAdditionalImage }}
            <nav aria-label="...">
                <ul class="pager">
                    <li><a class="btn-left"><span class="glyphicon glyphicon-menu-left"></span></a></li>
                    <li><a class="btn-right"><span class="glyphicon glyphicon-menu-right"></span></a></li>
                </ul>
            </nav>
        {{/if}}
        <div class="caption">
            <h3 data-role="bind" data-name="subject"></h3>
            <p>조회수 : <span data-role="bind" data-name="hit"></span></p>
            <p><a href="{{url}}" class="btn btn-primary">원본글</a>
            <button type="button" class="btn btn-default btn-md btn-favorite">
                <span class="glyphicon glyphicon glyphicon-thumbs-up text-primary" aria-hidden="true"></span> Like
            </button>
        </div>
    </div>
</div>
